@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background: rgb(227,225,53);
    background: radial-gradient(circle, rgba(227,225,53,1) 34%, rgba(23,138,217,0.9585959383753502) 82%);
    font-family:Montserrat;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.wrapper{
   height:98vh;
   display:flex;
   justify-content:center;
   align-items:center;
   margin: 0;
   padding: 0;
}
.container{
      display:flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
}

.left {
    width: 500px;
     height: 440px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: white;
    flex-direction: column;
    gap: 1em;
}
.left img{
    width: 400px;
    height: 300px;
    margin-right: -1em;

}

.left p{
    font-weight: 600;
    color: #059669;
}
.right{
    background-color: white;
    padding: 1em;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
}
.main{
    font-size: 30px;
    font-weight: 700;
    color: #0ea5e9;
}

.sub{
    font-size: 15px;
    font-weight: 500;
    margin-top: -1em;
    color: #fbbf24;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}



.email input{
    border: none;
    border-bottom: 1px solid black;
    width: 300px;
    outline: none;
    background-color: #f3f4f6;
    height: 30px;
    font-size: 13px;
    padding-left: 15px;

}

.password input{
     border: none;
    border-bottom: 1px solid black;
    width: 300px;
    outline: none;
    background-color: #f3f4f6;
    height: 30px;
    font-size: 13px;
    padding-left: 15px;
}

.login {
    width: 300px;
    margin-top: 1em;
    padding: 10px;
    font-size: 15px;
    border: none;
    background-color: #0ea5e9;
    color: white;
    font-weight: 600;
}

.register{
    font-size: 13px;
    font-weight: 500;
}


.or{
    display: flex;
    margin-top: -2em;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    font-weight: 300;
    color: #9ca3af;
}


.line{
    width: 120px;
    height: .5px;
    background-color: #9ca3af;
}

.google{
    background-color: white;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 200px;
    margin-top: -1em;
    margin-bottom: 1em;
}

.google button{
    border: none;
    background-color: white;
}